<h2>Available drones</h2>
<ul>
  {{#each findAllDrones}}
    <h1><li>{{this.name}}</li></h1>
    <h2><li>propellers: {{this.propellers}}</li></h2>
    <h3><li>{{this.maxSpeed}}</li></h3>
  {{/each}}
</ul>